<li id="{{eventId}}"
  class="event-row list-group-item {{#if Notes}}has-notes{{/if}}"
  data-Main_State-filter="{{State}}"
  data-Member-filter="{{Member}}"
  {{#if Notes}}
    data-toggle="collapse"
    data-target="#notes-{{eventId}}"
    title="Click to toggle notes"
  {{/if}}
  >
  <span class="member">
    {{#ifCond meetingType '===' 'Adopt-A-District/State'}}
      <h4 class="line-height-medium">
        {{#ifCond District '===' 'Senate'}}
          <span class="discriptor-text d-inline-block">Home state MoC (not present): </span>{{formattedMember}} <small>  {{#if party}} ({{party}}) {{/if}}{{displayDistrict}}</small>
        {{else}}
          <span class="discriptor-text d-inline-block">Home district MoC (not present): </span>{{formattedMember}} <small>  {{#if party}} ({{party}}) {{/if}}{{displayDistrict}}</small>
        {{/ifCond}}
        <a data-toggle="modal" data-target=".event-modal" onclick="eventHandler.populateEventModal({{{json this}}})">Details</a>
        <br/><span class="discriptor-text d-inline-block">Visiting MoC (will be present): </span>{{districtAdopter}} <small> ({{districtAdopterParty}}) {{districtAdopterState}}, {{districtAdopterDistrict}}</small>
      </h4>
    {{else}}
      <h4>
        {{formattedMember}} <small> {{#if party}} ({{party}}) {{/if}} {{displayDistrict}}</small>
        <a data-toggle="modal" data-target=".event-modal" onclick="eventHandler.populateEventModal({{{json this}}})">Details</a>
      </h4>
    {{/ifCond}}
    <span class="badge badge-default badge-pill pull-right"> {{meetingType}}</span>
  </span>
  <ul class="list-inline list-inline-separated">
    {{#if repeatingEvent}}
      <li>{{repeatingEvent}}
      </li>
    {{/if}}
    {{#unless repeatingEvent}}
      {{#if dateString}}
        <li>{{dateString}}
        </li>
      {{/if}}
    {{/unless}}
    {{#if Time}}
      <li>{{Time}}{{#if timeZone}}, {{timeZone}}{{/if}}</li>
    {{/if}}
    {{#if eventName}}
      <li>{{eventName}}</li>
    {{/if}}
    {{#if Location}}
      <li>{{Location}}</li>
    {{/if}}
    {{#if phoneNumber}}
      <li>{{phoneNumber}}</li>
    {{/if}}
    {{#if address}}
      <li>{{address}}</li>
    {{/if}}
    {{#if ada_accessible}}
      <li class="ada-logo ada-logo-table"></li>
    {{/if}}
  </ul>
  {{#if Notes}}
    <div id="notes-{{eventId}}" class="collapse notes">{{{Notes}}}</div>
  {{/if}}
</li>
