<li id="{{eventId}}"
  class="event-row list-group-item {{#if Notes}}has-notes{{/if}}"
  data-Main_State-filter="{{State}}"
  data-Member-filter="{{Member}}"
  {{#if Notes}}
    data-toggle="collapse"
    data-target="#notes-{{eventId}}"
    title="Click to toggle notes"
  {{/if}}
  >
  <span class="member">
    <h4>
      {{Member}}
      <small>
        ({{Party}}) {{State}}, {{District}}
        <a data-toggle="modal" data-target=".event-modal" onclick="eventHandler.populateEventModal({{{json this}}})">Details</a>
      </small>
    </h4>
    <span class="badge badge-default badge-pill pull-right"> {{meetingType}}</span>
  </span>
  <ul class="list-inline list-inline-separated">
    {{#if Date}}
      <li>{{Date}}</li>
    {{/if}}
    {{#if Time}}
      <li>{{Time}}{{#if timeZone}}, {{timeZone}}{{/if}}</li>
    {{/if}}
    {{#if eventName}}
      <li>{{eventName}}</li>
    {{/if}}
    {{#if Location}}
      <li>{{Location}}</li>
    {{/if}}
    {{#if phoneNumber}}
      <li>{{phoneNumber}}</li>
    {{/if}}
    {{#if address}}
      <li>{{address}}</li>
    {{/if}}
  </ul>
  {{#if Notes}}
    <div id="notes-{{eventId}}" class="collapse notes">{{{Notes}}}</div>
  {{/if}}
</li>
