<li id="{{eventId}}" class="event-row list-group-item " data-Main_State-filter={{State}} data-Member-filter={{Member}}
  data-container="body" data-animation="true">
  <span class="badge badge-default badge-pill pull-right">  {{meetingType}}</span>
   </span>
  <span class="member">
    <h4>
    {{Member}}
    <small>({{Party}})  {{State}},   {{District}}
    </small>
  </h4>

  {{#if Notes}}
  <button type="button" class="btn btn-sm pull-right btn-more-info" data-html="true" data-toggle="popover" data-content="{{Notes}}" data-placement="left" title="Notes <a href='javascript:void(0)' class='close'>×</a>"
  >More Info</button>
  {{/if}}
  <ul class="list-inline list-inline-separated">
    {{#if Date}}
    <li>{{Date}}
    </li>
    {{/if}}
    {{#if Time}}
    <li>{{Time}}{{#if timeZone}}, {{timeZone}}{{/if}}  </li>
    {{/if}}
    {{#if Location}}
    <li>{{Location}}</li>
    {{/if}}
    <li>{{address}}</li>
  </ul>
</li>
