<div class="col-md-12 col-sm-6 event-card">
  <div class="panel panel-secondary">
    <div class="panel-heading panel-heading_{{iconFlag}}">
      <div class="row">
        <div class="col-xs-4">
          <div class="">

          </div>
          <p class="event-card-icon event-icon__{{iconFlag}} {{#if dateValid}}event-icon__with-date{{/if}}">{{meetingType}}</p>

        </div>
        <div class="col-xs-8">
          {{#if isPledger}}
          <span class="logo logo-right logo-small pledger-logo"></span>
          {{/if}}
          {{#ifCond meetingType '===' 'Adopt-A-District/State'}}
            <h3 class="line-height-small">
              <div class="row">
                {{#ifCond District '===' 'Senate'}}
                  <span class="d-inline-block col-sm-6"> <span class="small-white">Home state MoC (not present):<br></span>{{Member}} <small> ({{displayDistrict}})</small></span>
                {{else}}
                  <span class="d-inline-block col-sm-6"> <span class="small-white">Home district MoC (not present):<br></span>{{Member}} <small> ({{displayDistrict}})</small></span>
                {{/ifCond}}

                <span class="d-inline-block col-sm-6"><span class="small-white">Visiting MoC (will be present):<br></span>{{districtAdopter}} <small> ({{districtAdopterParty}}, {{districtAdopterDistrict}})</small></span>
              </div>
            </h3>
          {{else}}
            <h3>{{formattedMember}} <small>{{displayDistrict}}</small></h3>
          {{/ifCond}}
      </div>
      </div>
    </div>
    <div class="panel-body">
      {{#if eventName}}
        <h3 class="text-success text-center event-name">{{eventName}}</h3>
      {{/if}}
      <span class="text-success text-center"><h4>
        <span class>
          {{#if repeatingEvent}}
            {{repeatingEvent}}
          {{/if}}
          {{#unless repeatingEvent}}
            {{#if dateString}}
              {{dateString}}
            {{/if}}
          {{/unless}}
        </span>
      <span class="profile-summary-value"> at {{Time}}{{#if timeZone}}, {{timeZone}}{{/if}}</span></h4></span>
      <ul class="list-group list-group-flush">
        {{#if phoneNumber}}
        <li class="list-group-item list-item-no-border"> Call in number: {{phoneNumber}}
        </li>
        {{/if}}
        <div class="inset-line"></div>
        <li class="list-group-item list-item-no-border">
          <div class="row">
            <address class="col-xs-8 col-xs-offset-2">
              {{Location}}</br>
              {{#if address}}{{#addressFormat address}}{{address}}{{/addressFormat}}<br>{{/if}}
              {{#unless address}}
              {{streetAddress}}<br>
              {{#if City}}{{City}}, {{/if}}{{StateAb}} {{zip}}<br>
              {{/unless}}
              {{#if addressLink}}
              <a href={{addressLink}} target="_blank">Directions</a></br>
              {{/if}}
            <address>
          </div>
        </li>
        <div class="inset-line"></div>
        {{#if Notes}}
        <li class="list-group-item list-item-no-border list-item-no-border">{{{Notes}}}
        </li>
        {{/if}}
        {{#ifCond iconFlag '===' 'hr-one'}}
        <li class="list-group-item list-item-no-border text-center">
          <a class="btn btn-primary" data-toggle="modal" data-target=".event-modal" onclick="eventHandler.populateEventModal({{{json this}}})">RSVP
          </a>
        </li>
        {{/ifCond}}
        {{#if link}}
        <li class="list-group-item list-item-no-border pull-left">
          <a href="{{link}}" target="_blank">{{#if linkName}}{{linkName}}    {{/if}}{{#unless linkName}}Find out more  {{/unless}}</a>
        </li>
        {{/if}}
        {{#if RSVP}}
        <li class="list-group-item list-item-no-border pull-right">
          <a href="{{RSVP}}" target="_blank">{{rsvpName}}    <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </li>
        {{/if}}
      </ul>
    </div>
    <div class="panel-footer">
      {{#unless repeatingEvent}}
        <small>Last Updated: {{dateFormat lastUpdated}} </small>
      {{/unless}}
      {{#if ada_accessible}}
        <span class="accessibility-logo"></span>
      {{/if}}
      {{#if dateValid}}
      <span class="addtocalendar pull-right">
        <a class="atcb-link btn btn-md">
          <span class="calendarButton">Add to Calendar</span>
          <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
        </a>
        <var class="atc_event">
          <var class="atc_date_start">{{yearMonthDay}} {{timeStart24}}</var>
          <var class="atc_date_end">{{yearMonthDay}} {{timeEnd24}}</var>
          <var class="atc_timezone">{{zoneString}}</var>
          <var class="atc_title">{{meetingType}}: {{formattedMember}}</var>
          <var class="atc_description">{{{Notes}}}</var>
          <var class="atc_location">{{address}}</var>
          <var class="atc_organizer">{{party}}</var>
        </var>
      </span>
      {{/if}}
    </div>
  </div>
</div>
