<div id="{{rowid}}" class= 'event-row' data-Main_State-filter={{State}} data-Member-filter={{Member}}
  data-container="body" data-animation="true" data-html="true" data-toggle="popover" data-placement="top"
  title="Notes <a href='javascript:void(0)' class='close'>×</a>"
  data-content="{{#if Notes}}{{Notes}}{{/if}}{{#unless Notes}}There are no notes for this event.{{/unless}}">
  <td class='member'>
    {{Member}}
  </td>
  <td>
    {{Party}}
  </td>
  <td>
    {{State}}
  </td>
  <td>
    {{District}}
  </td>
  <td >
    {{meetingType}}
  </td>
  <ul class="list-inline">
    <li>{{Date}}
    </li>
    <li>{{Time}}{{#if timeZone}}, {{timeZone}}{{/if}}
    </li>
    <li>{{Location}}
    </li>
    <li>{{address}}
    </li>
  </ul>
</div>
