<div class="text-info map-popup">
  <h4 class="mapbox-popup-title">
    {{#if stateIcon}}
    <span class="pull-left state-icon state-icon__{{stateAbbr}}">
    {{/if}}
    </span>{{formattedMember}} <small>{{displayDistrict}}</small></h4>
  <p>{{Location}}</p>
  <span>{{Time}} </span>
  <span>
    {{#if repeatingEvent}}
      on {{repeatingEvent}}
    {{/if}}
    {{#unless repeatingEvent}}
      {{#if date}}
        on {{date}}
      {{/if}}
    {{/unless}}
  </span><br>
    {{#if address}}
      <span>{{address}}</span>
    {{/if}}
    {{#ifCond iconFlag '===' 'hr-one'}}
      {{#if showButton}}
      <div class="text-center">
        <a class="btn btn-white" data-toggle="modal" data-target=".event-modal"
          onclick="eventHandler.populateEventModal({{{json this}}})">RSVP
        </a>
      </div>
    {{/if}}
    {{/ifCond}}
</div>
