<div class="text-info map-popup">
  <h4 class="mapbox-popup-title">
    {{#if stateIcon}}
    <span class="pull-left state-icon state-icon__{{stateAbbr}}">
    {{/if}}
    </span>{{formattedMember}} <small>{{displayDistrict}}</small></h4>
  <p>{{Location}}</p>
  <span>{{Time}} </span>
  <span>
    {{#if repeatingEvent}}
      on {{repeatingEvent}}
    {{/if}}
    {{#unless repeatingEvent}}
      {{#if date}}
        on {{date}}
      {{/if}}
    {{/unless}}
  </span><br>
    {{#if addressLink}}
      <span><a href="{{addressLink}}" target="_blank">{{address}}</a></span>
    {{/if}}
    {{#unless addressLink}}
      {{#if address}}
        <span>{{address}}</span>
      {{/if}}
    {{/unless}}
</div>
