<div class="text-info map-popup">
  <h4 class="mapbox-popup-title">{{Member}}</h4>
  <p>{{Location}}</p>
  <span>{{Time}} </span>
  <span>
    {{#if repeatingEvent}}
      on {{repeatingEvent}}
    {{/if}}
    {{#unless repeatingEvent}}
      {{#if Date}}
        on {{Date}}
      {{/if}}
    {{/unless}}
  </span><br>
    {{#if addressLink}}
      <span><a href="{{addressLink}}" target="_blank">{{address}}</a></span>
    {{/if}}
    {{#unless addressLink}}
      {{#if address}}
        <span>{{address}}</span>
      {{/if}}
    {{/unless}}
</div>
