<div class="element-item {{party}} {{state}} {{displayType}} {{#if ahca}}ahca{{/if}} {{#if taxBill}}taxBill{{/if}} {{#if missingMember}}missingMember{{/if}}">
  <div class="card card-representative {{party}}">
    <div class="card-header">
      <div class="row">
      <div class="col-xs-4 col-sm-3 no-padding p-0">
        <img src="https://www.govtrack.us/data/legislator-photos/photos/{{govtrack_id}}-100px.jpeg" onerror="$(this).remove()" class="grayscale" />
      </div>
      <div class="col-xs-8 col-sm-9">
        <h4>{{title}} {{displayName}}</h4>
        <small class="rep-card-subtitle">{{repOf}}</small>
        <div>
            <a href="https://jacksonmaxfield.github.io/flyer_gen/#/m={{id}}" target="_blank"
               title="Print a milk-carton like poster for your Missing Member of Congress.">
              <i class="fa fa-2x fa-address-book" aria-hidden="true"></i>
            </a>
        </div>
      </div>
    </div>
    </div>
    <div class="card-block">
      <div class="card-text row">
        {{#if phone}}
        <div class="col-xs-12 col-sm-5 no-padding p-0">
          <div><span>Office Phone:</span> {{phone}}</div>
        </div>
        {{/if}}
        <div class="social-icons col-xs-12 col-sm-7 no-padding p-0 text-right">
          {{#if twitter}}
            <a href="//twitter.com/{{twitter}}" class="social-icon" target="_blank">
              <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
            </a>
          {{/if}}
          {{#if facebook}}
            <a href="//facebook.com/{{facebook}}" class="social-icon" target="_blank">
              <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            </a>
          {{/if}}
          {{#if oc_email}}
            <a href="mailto:{{oc_email}}" class="social-icon">
              <i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i>
            </a>
          {{/if}}
          {{#if contact_form}}
            <a href="{{contact_form}}" class="social-icon" target="_blank">
              <i class="fa fa fa-external-link-square fa-2x" aria-hidden="true"></i>
            </a>
          {{else if url}}
            <a href="{{url}}" class="social-icon" target="_blank">
              <i class="fa fa fa-external-link-square fa-2x" aria-hidden="true"></i>
            </a>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="mm card-footer no-padding container-flex">
      <div class="row">
        <div class="footer-icon type-holder col-4 vertical-align ">
         {{#if taxBill}}
          <div class="footer-text"><small>Voted for</small> <span class="highlight">2017 Tax Bill</span></div>{{/if}}
        </div>
        <div class="footer-icon  col-4">
          {{#if ahca}}<div class="footer-text ahca-text  vertical-align">
            <small>Voted for </small><span class="highlight">AHCA</span></div>{{/if}}
        </div>
      </div>
    </div>
   </div>
</div>
