<!-- Panel showing a representative with their contact info -->
<div class="panel panel-default col-md-4 no-padding">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}} {{first_name}} {{last_name}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      {{#if twitter_id}}Twitter @{{twitter_id}}{{/if}}
    </div>
    <div class="row">
      {{#if facebook_id}}Facebook http://facebook.com/profile.php?id={{facebook_id}}{{/if}}
    </div>
    <div class="row">
      {{#if contact_form}}Contact Form {{contact_form}}{{/if}}
    </div>
    <div class="row">
      {{#if fax}}Fax {{fax}}{{/if}}
    </div>
    <div class="row">
      {{#if oc_email}}Email {{oc_email}}{{/if}}
    </div>
    <div class="row">
      {{#if office}}Office {{office}}{{/if}}
    </div>
    <div class="row">
      {{#if phone}}Phone {{phone}}{{/if}}
    </div>
    <div class="row">
      {{#if term_end}}Term Ends {{term_end}}{{/if}}
    </div>
    <div class="row">
      {{#if website}}Website {{website}}{{/if}}
    </div>
    <div class="row">
      {{#if youtube_id}}Youtube {{youtube_id}}{{/if}}
    </div>
  </div>
</div>


<!-- {
  "bioguide_id": "K000383",
  "birthday": "1944-03-31",
  "chamber": "senate",
  "contact_form": "https://www.king.senate.gov/contact",
  "crp_id": "N00034580",
  "district": null,
  "facebook_id": "142803045874943",
  "fax": "202-224-1946",
  "fec_ids": [
    "S2ME00109"
  ],
  "first_name": "Angus",
  "gender": "M",
  "govtrack_id": "412545",
  "icpsr_id": 41300,
  "in_office": true,
  "last_name": "King",
  "leadership_role": null,
  "lis_id": "S363",
  "middle_name": null,
  "name_suffix": null,
  "nickname": null,
  "oc_email": "Sen.King@opencongress.org",
  "ocd_id": "ocd-division/country:us/state:me",
  "office": "133 Hart Senate Office Building",
  "party": "I",
  "phone": "202-224-5344",
  "senate_class": 1,
  "state": "ME",
  "state_name": "Maine",
  "state_rank": "junior",
  "term_end": "2019-01-03",
  "term_start": "2013-01-03",
  "thomas_id": "02185",
  "title": "Sen",
  "twitter_id": "SenAngusKing",
  "votesmart_id": 22381,
  "website": "http://www.king.senate.gov",
  "youtube_id": "SenatorAngusKing"
} -->
