<!-- Panel showing a representative with their contact info -->
<div class="col-md-4 no-padding">
  <div class="panel panel-secondary panel-representative {{party}}">
    <div class="panel-heading">
      <div class="panel-title">
        <h3>{{title}} {{first_name}} {{last_name}}</h3>
        <h4>{{party}}</h4>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        {{#if twitter_id}}<div>
          <a href="//twitter.com/{{twitter_id}}" target="_blank">@{{twitter_id}}</a>
        </div>{{/if}}
        {{#if phone}}<div><label>Phone:</label> {{phone}}</div>{{/if}}
        {{#if fax}}<div><label>Fax:</label> {{fax}}</div>{{/if}}
        {{#if contact_form}}<div><a href="{{contact_form}}" target="_blank">Contact Form</a></div>{{/if}}
        {{#if facebook_id}}<div><a href="//facebook.com/profile.php?id={{facebook_id}}" target="_blank">Facebook</a></div>{{/if}}
        {{#if website}}<div><a href="{{website}}" target="_blank">Website</a></div>{{/if}}
        {{#if oc_email}}<div><a href="mailto:{{oc_email}}">Email</a></div>{{/if}}
      </div>
      <div class="col-md-6"><img src="https://www.govtrack.us/data/photos/{{govtrack_id}}-200px.jpeg" /></div>
      <div class="col-md-12">
        {{#if term_end}}<div><label>Term Ends:</label> {{term_end}}</div>{{/if}}
        {{#if office}}<div><label>Office:</label> {{office}}</div>{{/if}}
      </div>
    </div>
  </div>
</div>
